[Desktop Entry]
Name=Blueman applet
Comment=Blueman Bluetooth Manager
Icon=blueman
Exec=blueman-applet
Terminal=false
Type=Application
Categories=
NotShowIn=KDE;GNOME;
X-GNOME-UsesNotifications=true
StartupNotify=false
