/{    
    wireless_bluetooth: wireless-bluetooth {
        compatible = "bluetooth-platdata";
        uart_rts_gpios = <&gpio1 RK_PC2 GPIO_ACTIVE_LOW>;
        pinctrl-names = "default", "rts_gpio";
        pinctrl-0 = <&uart4m1_rtsn>;
        pinctrl-1 = <&uart4_gpios>;
        BT,reset_gpio    = <&gpio4 RK_PB1 GPIO_ACTIVE_HIGH>;
        BT,wake_gpio     = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
        BT,wake_host_irq = <&gpio0 RK_PB1 GPIO_ACTIVE_HIGH>;
        clocks = <&hym8563>;
        clock-names = "ext_clock";
        status = "okay";
    };

    wireless_wlan: wireless-wlan {
        compatible = "wlan-platdata";
        wifi_chip_type = "vs2275s";
        pinctrl-names = "default";
        pinctrl-0 = <&wifi_host_wake_irq>;
        WIFI,host_wake_irq = <&gpio1 RK_PD5 GPIO_ACTIVE_HIGH>;
//        WIFI,poweren_gpio = <&gpio0 RK_PB1 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
    
    sdio_pwrseq: sdio-pwrseq {
        compatible = "mmc-pwrseq-simple";
        pinctrl-names = "default";
        pinctrl-0 = <&wifi_poweren_gpio>;

        /*
         * On the module itself this is one of these (depending
         * on the actual card populated):
         * - SDIO_RESET_L_WL_REG_ON
         * - PDN (power down when low)
         */
        post-power-on-delay-ms = <200>;
        reset-gpios = <&gpio0 RK_PB0 GPIO_ACTIVE_LOW>;
        status = "okay";
    };
    
    
		bt-sound {
        compatible = "simple-audio-card";
        simple-audio-card,format = "dsp_a";
        simple-audio-card,bitclock-inversion = <1>;
        simple-audio-card,mclk-fs = <256>;
        simple-audio-card,name = "rockchip,bt";
        simple-audio-card,cpu {
                sound-dai = <&sai2>;
        };

        simple-audio-card,codec {
                sound-dai = <&bt_sco 1>;
        };
    };

    bt_sco: bt-sco {
            compatible = "delta,dfbmcs320";
            #sound-dai-cells = <1>;
            status = "okay";
    };
};

&sdio {
    max-frequency = <200000000>;
    no-sd;
    no-mmc;
    bus-width = <4>;
    disable-wp;
    cap-sd-highspeed;
    cap-sdio-irq;
    keep-power-in-suspend;
    mmc-pwrseq = <&sdio_pwrseq>;
    non-removable;
    pinctrl-names = "default";
    pinctrl-0 = <&sdmmc1m0_bus4 &sdmmc1m0_clk &sdmmc1m0_cmd>;
    sd-uhs-sdr104;
    status = "okay";
};

&uart4 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart4m1_xfer &uart4m1_ctsn>;
};


&sai2 {
    status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&sai2m0_lrck
			     &sai2m0_sclk
			     &sai2m0_sdi
			     &sai2m0_sdo>;
};


&pinctrl {
    wireless-bluetooth {
        uart4_gpios: uart4-gpios {
            rockchip,pins = <1 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

    wireless-wlan {
        wifi_host_wake_irq: wifi-host-wake-irq {
            rockchip,pins = <1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;
        };

        wifi_poweren_gpio: wifi-poweren-gpio {
            rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };
};



&sdmmc1m0_bus4 {
	rockchip,pins =
		<1 RK_PB4 2 &pcfg_pull_up_drv_level_8>,
		<1 RK_PB5 2 &pcfg_pull_up_drv_level_8>,
		<1 RK_PB6 2 &pcfg_pull_up_drv_level_8>,
		<1 RK_PB7 2 &pcfg_pull_up_drv_level_8>;
};


&sdmmc1m0_clk {
	rockchip,pins =
		<1 RK_PC1 2 &pcfg_pull_up_drv_level_8>;
};


&sdmmc1m0_cmd {
	rockchip,pins =
		<1 RK_PC0 2 &pcfg_pull_up_drv_level_8>;
};